@import url("Oblomilan.css");

/* tekst veranderen van Create header */
#CreateHeader .TextContent {
    display: none;
}


/* verbergen van create new */
#CreateList > li[interface="Zaak"] {
    display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Zaakstuk"] {
    display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Zaaksdossier"] {
    display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Zaak ter zitting"] {
    display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Zaak afdoen"] {
    display: none;
}

/* tekst veranderen van create new */
#CreateList > li[interface="Dagvaarding"] > a > .TextContent {
    display: none;
}
#CreateList > li[interface="Dagvaarding"] > a:before {
    content: "Registeer een nieuwe dagvaarding";
}

/* tekst veranderen van create new */
#CreateList > li[interface="Zitting plannen"] > a > .TextContent {
    display: none;
}
#CreateList > li[interface="Zitting plannen"] > a:before {
    content: "Een nieuwe zitting plannen";
}

/* show name for atom with subinterface in Zaak op nr */
[editing=true] .Interface[label="Zaak"] .Interface[label="Dagvaarding"] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display: block;
  float: none;
}

/* show name for atom with subinterface in Zaak op nr */
[editing=true] .Interface[label="Zaak"] .Interface[label="Eisende partij"] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display: block;
  float: none;
}