/* verbergen van create new */
#CreateList > li[interface="Zitting afronden"] {
    display: none;
}
#CreateMenu > [interface="Zitting afronden"] {
  display: none;
}

/* tekst veranderen van create new */
#CreateList > li[interface="Zitting plannen"] > a > .TextContent {
    display: none;
}
#CreateList > li[interface="Zitting plannen"] > a:before {
    content: "Een nieuwe zitting plannen";
}
#CreateMenu > [interface="Zitting plannen"] .TextContent {
    display: none;
}
#CreateMenu > [interface="Zitting plannen"] > div:before {
    content: "Een nieuwe zitting plannen";
}

/* show name for atom with subinterface in Zaak op nr */
[editing=true] .Interface[label="Zitting plannen"] .Interface[label="Kamer"] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display: block;
  float: none;
}