@import url("Oblomilan.css");

/* Tekst veranderen van 'main' item in menubalk */
#LinkToMain a > .TextContent  {
    display: none;
}
#LinkToMain a:before {
    content: "Inschrijvingen en registraties";
}

/* tekst veranderen van Create header */
#CreateHeader .TextContent {
    display: none;
}
#CreateHeader:before {
    content: "Aanmaken inschrijvingen en registraties";
}


/* verbergen van create new */
#CreateList > li[interface=" op naam"] {
    display: none;
}

/* verbergen van create new */
#CreateList > li[interface=" op BAR-nummer"] {
    display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Kantoor"] {
    display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Zaak- en zittinginformatie"] {
    display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Kantoor- en advocaatinformatie"] {
    display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Rechtbanken"] {
    display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Persoon"] {
    display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Persoonsgegevens"] {
    display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Persoon toevoegen"]  {
    display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Informatie over de rechtbank"]  {
    display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Machtiging"]  {
    display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Advocaat"]  {
    display: none;
}


/* tekst veranderen van create new */
#CreateList > li[interface="Advocaat toevoegen"] > a > .TextContent {
    display: none;
}
#CreateList > li[interface="Advocaat toevoegen"] > a:before {
    content: "Schrijf een advocaat in";
}

/* tekst veranderen van create new */
#CreateList > li[interface="Beëdiging"] > a > .TextContent {
    display: none;
}
#CreateList > li[interface="Beëdiging"] > a:before {
    content: "Registeer een nieuwe beëdiging";
}

/* tekst veranderen van create new */
#CreateList > li[interface="Inschrijvingsverzoek"] > a > .TextContent {
    display: none;
}
#CreateList > li[interface="Inschrijvingsverzoek"] > a:before {
    content: "Registreer een nieuw inschrijvingsverzoek";
}

/* tekst veranderen van create new */
#CreateList > li[interface="Zitting"] > a > .TextContent {
    display: none;
}
#CreateList > li[interface="Zitting"] > a:before {
    content: "Maak een nieuwe zitting aan";
}

/* tekst veranderen van create new */
#CreateList > li[interface="Zaak"] > a > .TextContent {
    display: none;
}
#CreateList > li[interface="Zaak"] > a:before {
    content: "Schrijf een nieuwe zaak in";
}