@import url("Oblomilan.css");
@import "DemoBeslissingen.css";
@import "DemoDossiers.css";

#AmpersandRoot[role="Juridisch medewerker"] {
/* Achtergrondkleur per rol */
  background-color: #f0f0f0;
}

#AmpersandRoot[role=Secretaris] {
  background-color: #FFFFE3;
}

#AmpersandRoot[role="Administratief medewerker"] {
  background-color: #e8fae8;
}

#AmpersandRoot[role=Deurwaarder] {
  background-color: #e8f0Ff;
}

/* Tekst veranderen van 'main' item in menubalk */
#LinkToMain a > .TextContent  {
    display: none;
}
#LinkToMain a:before {
    content: "Hoofdmenu";
}

/* tekst veranderen van Create header */
#CreateHeader .TextContent {
    display: none;
}
#CreateHeader:before {
    content: "Menuopties";
}

/* verbergen van create new */
#CreateList > li[interface="Dossier vrijgeven"] {
    display: none;
}
#CreateMenu > [interface="Dossier vrijgeven"] {
  display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Dossier raadplegen"] {
    display: none;
}
#CreateMenu > [interface="Dossier raadplegen"] {
  display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Proces-verbaal opmaken"] {
    display: none;
}
#CreateMenu > [interface="Proces-verbaal opmaken"] {
  display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Documenteigenschappen"] {
    display: none;
}
#CreateMenu > [interface="Documenteigenschappen"] {
  display: none;
}

/* tekst veranderen van create new */
#CreateList > li[interface="Appelakte indienen"] > a > .TextContent {
    display: none;
}
#CreateList > li[interface="Appelakte indienen"] > a:before {
    content: "Appelakte indienen";
}
#CreateMenu > [interface="Appelakte indienen"] .TextContent {
    display: none;
}
#CreateMenu > [interface="Appelakte indienen"] > div:before {
    content: "Appelakte indienen";
}

/* tekst veranderen van create new */
#CreateList > li[interface="Parketnummer toewijzen hoger beroep"] > a > .TextContent {
    display: none;
}
#CreateList > li[interface="Parketnummer toewijzen hoger beroep"] > a:before {
    content: "Parketnummer toewijzen aan hoger beroep";
}
#CreateMenu > [interface="Parketnummer toewijzen hoger beroep"] .TextContent {
    display: none;
}
#CreateMenu > [interface="Parketnummer toewijzen hoger beroep"] > div:before {
    content: "Parketnummer toewijzen aan hoger beroep";
}

/* show name for atom with subinterface in Zaak op nr */
[editing=true] .Interface[label="Appelakte indienen"] .Interface[label="Parketnummer"] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display: block;
  float: none;
}