@import url("Oblomilan.css");

/* Achtergrondkleur per rol */
#AmpersandRoot[role=Griffier] {
  background-color: #f0f0f0;
}

#AmpersandRoot[role=Secretaris] {
  background-color: #FFFFE3;
}

#AmpersandRoot[role="Administratief medewerker"] {
  background-color: #e8fae8;
}

#AmpersandRoot[role=Deurwaarder] {
  background-color: #e8f0Ff;
}

/* tekst veranderen van Create header */
#CreateHeader .TextContent {
    display: none;
}

/* verbergen van create new */
#CreateList > li[interface=Griffierecht] {
    display: none;
}
#CreateMenu > [interface=Griffierecht] {
    display: none;
}

#CreateList > li[interface="Behandeling afronden"] {
    display: none;
}
#CreateMenu > [interface="Behandeling afronden"] {
    display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Zaak inzien"] {
    display: none;
}
#CreateMenu > [interface="Zaak inzien"] {
  display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Zitting afronden"] {
    display: none;
}
#CreateMenu > [interface="Zitting afronden"] {
  display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Zaak bijwerken"] {
    display: none;
}
#CreateMenu > [interface="Zaak bijwerken"] {
  display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Vonnis afronden"] {
    display: none;
}
#CreateMenu > [interface="Vonnis afronden"] {
  display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Vonnis ondertekenen"] {
    display: none;
}
#CreateMenu > [interface="Vonnis ondertekenen"] {
  display: none;
}


/* verbergen van create new */
#CreateList > li[interface="Vonnis schrijven"] {
    display: none;
}
#CreateMenu > [interface="Vonnis schrijven"] {
  display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Zaaknummer toekennen"] {
    display: none;
}
#CreateMenu > [interface="Zaaknummer toekennen"] {
  display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Dagvaarding inzien"] {
    display: none;
}
#CreateMenu > [interface="Dagvaarding inzien"] {
  display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Zaakstuk"] {
    display: none;
}
#CreateMenu > [interface="Zaakstuk"] {
  display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Zaaksdossier"] {
    display: none;
}
#CreateMenu > [interface="Zaaksdossier"] {
  display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Zaak ter zitting"] {
    display: none;
}
#CreateMenu > [interface="Zaak ter zitting"] {
  display: none;
}

/* verbergen van create new */
#CreateList > li[interface="Zaak afdoen"] {
    display: none;
}
#CreateMenu > [interface="Zaak afdoen"] {
  display: none;
}

/* tekst veranderen van create new */
#CreateList > li[interface="Dagvaarding"] > a > .TextContent {
    display: none;
}
#CreateList > li[interface="Dagvaarding"] > a:before {
    content: "Registeer een nieuwe dagvaarding";
}
#CreateMenu > [interface="Dagvaarding"]  .TextContent {
    display: none;
}
#CreateMenu > [interface="Dagvaarding"] > div:before {
    content: "Registeer een nieuwe dagvaarding";
}

/* tekst veranderen van create new */
#CreateList > li[interface="Zitting plannen"] > a > .TextContent {
    display: none;
}
#CreateList > li[interface="Zitting plannen"] > a:before {
    content: "Een nieuwe zitting plannen";
}
#CreateMenu > [interface="Zitting plannen"] .TextContent {
    display: none;
}
#CreateMenu > [interface="Zitting plannen"] > div:before {
    content: "Een nieuwe zitting plannen";
}

/* show name for atom with subinterface in Zaak op nr 
[editing=true] .Interface[label="Dagvaarding"] .Interface[label="Naam"] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display: block;
  float: none;
}*/

/* show name for atom with subinterface in Zaak op nr */
[editing=true] .Interface[label="Zaak"] .Interface[label="Eisende partij"] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display: block;
  float: none;
}
