<!-- 
VIEW ConstantQuestion : Constant 
{ "constName" : constName
, "constPort" : constPort
, "portBox"   : constPort;portComponent
, "scopeName" : constPort;portComponent;scopeName
, "scopeSeqNr": constPort;portComponent;scopeSeqNr
, "scopeID"   : constPort;portComponent;scopeID
, "constType" : constType
, "constValue": constValue
, "constQstn" : constQstn
} HTML TEMPLATE "ConstantQuestion.html" ENDVIEW
-->
<div ng-repeat="row in val['$name$'] track by \$index">
  <div ng-if="!row['@view']['constQstn']">
     {{row['@view']['constName']}} (on&nbsp
        <span ng-if="!row['@view']['scopeSeqNr']">{{row['@view']['scopeName']}}</span>
			  <span ng-if="row['@view']['scopeSeqNr']">{{row['@view']['scopeName']}}({{row['@view']['scopeSeqNr']}})</span>
     )
  </div>
  <div ng-if="row['@view']['constQstn']"
	     popover="{{row['@view']['constName']}}"
	     popover-placement="bottom" popover-trigger="mouseenter">
	   {{row['@view']['constQstn']}}
     (for&nbsp
        <span ng-if="!row['@view']['scopeSeqNr']">{{row['@view']['scopeName']}}</span>
			  <span ng-if="row['@view']['scopeSeqNr']">{{row['@view']['scopeName']}}({{row['@view']['scopeSeqNr']}})</span>
     )
  </div>
</div>
