<!-- 
VIEW ScopeIsConfigured : Scope HTML TEMPLATE "ScopeIsConfigured.html" ENDVIEW
-->
<div>
	<div ng-if="!val['$name$']">
		<img src="app/images/issue.jpg" height="30px" popover="Configuration must be completed" popover-trigger="mouseenter">
		<h2 style="display:inline;">Configuration must be completed</h2>
	</div>
	<div ng-if="val['$name$']">
		<img src="app/images/done.png" height="30px" popover="Configuration is complete" popover-trigger="mouseenter">
		<h2 style="display:inline;">Configuration is complete!</h2>
	</div>
</div>