<!--
VIEW <Contact> : Person
{ cepConnectsTo: cepConnectsTo
, cepMeans     : cepMeans
, cepEndpoint  : cepEndpoint
, cepNote      : cepNote
} HTML TEMPLATE "Contact.html" ENDVIEW
-->
	<div ng-repeat="row in val['$name$'] track by \$index">
<table>
	  <tr>
	    <td>
				<div ng-switch on="row['@view']['cepMeans']">
			    <div ng-switch-when="Email">
			      <img ng-src="app/images/{{row['@view']['cepMeans']}}-icon.png" alt="{{row['@view']['cepMeans']}}:" style="height:2em">
			      <a href="mailto:{{row['@view']['cepEndpoint']}}">{{row['@view']['cepEndpoint']}}</a>
			    </div>
			    <div ng-switch-when="Phone">
			      <img ng-src="app/images/{{row['@view']['cepMeans']}}-icon.png" alt="{{row['@view']['cepMeans']}}:" style="height:2em">
			      <a href="tel:{{row['@view']['cepEndpoint']}}">{{row['@view']['cepEndpoint']}}</a>
			    </div>
			    <div ng-switch-default>
			 	    <img ng-src="app/images/{{row['@view']['cepMeans']}}-icon.png" alt="{{row['@view']['cepMeans']}}:" style="height:2em">
			      {{row['@view']['cepEndpoint']}}
			    </div>
			  </div>
		  </td>
		  <td>
			  <div ng-if="row['@view']['cepNote']"
			      popover="Note: {{row['@view']['cepNote']}}" 
			      popover-placement="right"
			      popover-trigger="mouseenter">
			    &nbsp;&nbsp;<img ng-src="app/images/note.png" alt="(*)" style="height:2em">
			  </div>
		  </td>
		</tr>
</table>
	</div>
