<!--
VIEW WireInBox : Wire
{ "dirtyID" : I
, "srcPrefix" : (wSrc;portIPO /\ wScope;-I);boxName
, "srcPrefixNr" : (wSrc;portIPO /\ wScope;-I);scopeSeqNr
, "srcPortName" : wSrc;portName
, "tgtPrefix" : (wTgt;portIPO /\ wScope;-I);boxName
, "tgtPrefixNr" : (wTgt;portIPO /\ wScope;-I);scopeSeqNr
, "tgtPortName" : wTgt;portName
} HTML TEMPLATE "WireInBox.html" ENDVIEW
-->
<div ng-repeat="row in val['$name$'] track by \$index" style="display:flex;">
	<span my-showonhover-box class="glyphicon glyphicon-minus" ng-click="removeObject(val['$name$'], row.id, ResourceId)" uib-tooltip="Remove" tooltip-trigger="mouseenter" tooltip-placement="left" style="margin-right:5px;"></span>
	<div popover="{{row['@view']['dirtyID']}}" popover-placement="bottom" popover-trigger="mouseenter">
		
		<div ng-if="row['@interfaces'].length > 1" style="position:relative; display:inline-block;">
			<a class="dropdown-toggle" data-toggle="dropdown">
				<span ng-if="row['@view']['srcPrefix']">
				  <span ng-if="row['@view']['srcPrefixNr']">
					 {{row['@view']['srcPrefix']}}({{row['@view']['srcPrefixNr']}}):{{row['@view']['srcPortName']}}
				  </span>
				  <span ng-if="!row['@view']['srcPrefixNr']">
					 {{row['@view']['srcPrefix']}}:{{row['@view']['srcPortName']}}
				  </span>
				</span>
				  <span ng-if="!row['@view']['srcPrefix']">{{row['@view']['srcPortName']}}</span>
				  &nbsp;&rarr;&nbsp;
				  <span ng-if="row['@view']['tgtPrefix']">
				  <span ng-if="row['@view']['tgtPrefixNr']">
					 {{row['@view']['tgtPrefix']}}({{row['@view']['tgtPrefixNr']}}):{{row['@view']['tgtPortName']}}
				  </span>
				  <span ng-if="!row['@view']['tgtPrefixNr']">
					 {{row['@view']['tgtPrefix']}}:{{row['@view']['tgtPortName']}}
				  </span>
				</span>
				<span ng-if="!row['@view']['tgtPrefix']">{{row['@view']['tgtPortName']}}</span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li ng-repeat="ifc in ifcs">
					<a ng-href="#/{{ifc.id}}/{{resource}}">{{ifc.label}}</a>
				</li>
			</ul>
		</div>
		<a ng-if="row['@interfaces'].length == 1" ng-href="#/{{ifcs[0].id}}/{{resource}}">
			<span ng-if="row['@view']['srcPrefix']">
				  <span ng-if="row['@view']['srcPrefixNr']">
					 {{row['@view']['srcPrefix']}}({{row['@view']['srcPrefixNr']}}):{{row['@view']['srcPortName']}}
				  </span>
				  <span ng-if="!row['@view']['srcPrefixNr']">
					 {{row['@view']['srcPrefix']}}:{{row['@view']['srcPortName']}}
				  </span>
				</span>
				  <span ng-if="!row['@view']['srcPrefix']">{{row['@view']['srcPortName']}}</span>
				  &nbsp;&rarr;&nbsp;
				  <span ng-if="row['@view']['tgtPrefix']">
				  <span ng-if="row['@view']['tgtPrefixNr']">
					 {{row['@view']['tgtPrefix']}}({{row['@view']['tgtPrefixNr']}}):{{row['@view']['tgtPortName']}}
				  </span>
				  <span ng-if="!row['@view']['tgtPrefixNr']">
					 {{row['@view']['tgtPrefix']}}:{{row['@view']['tgtPortName']}}
				  </span>
				</span>
			<span ng-if="!row['@view']['tgtPrefix']">{{row['@view']['tgtPortName']}}</span>
		</a>
		<span ng-if="row['@interfaces'].length == 0">
			<span ng-if="row['@view']['srcPrefix']">
				  <span ng-if="row['@view']['srcPrefixNr']">
					 {{row['@view']['srcPrefix']}}({{row['@view']['srcPrefixNr']}}):{{row['@view']['srcPortName']}}
				  </span>
				  <span ng-if="!row['@view']['srcPrefixNr']">
					 {{row['@view']['srcPrefix']}}:{{row['@view']['srcPortName']}}
				  </span>
				</span>
				  <span ng-if="!row['@view']['srcPrefix']">{{row['@view']['srcPortName']}}</span>
				  &nbsp;&rarr;&nbsp;
				  <span ng-if="row['@view']['tgtPrefix']">
				  <span ng-if="row['@view']['tgtPrefixNr']">
					 {{row['@view']['tgtPrefix']}}({{row['@view']['tgtPrefixNr']}}):{{row['@view']['tgtPortName']}}
				  </span>
				  <span ng-if="!row['@view']['tgtPrefixNr']">
					 {{row['@view']['tgtPrefix']}}:{{row['@view']['tgtPortName']}}
				  </span>
				</span>
			<span ng-if="!row['@view']['tgtPrefix']">{{row['@view']['tgtPortName']}}</span>
		</span>
	</div>
</div>