<!-- Home screen -->
<div class="container-fluid" id="Interface">
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <h2>Please select your role.</h2>
  </div>
  <div class="row" ng-controller="static_navigationBarController">
    <div class="col-lg-4 col-role">
      <a href="#/Components" ng-click="selectRoleByLabel('Manufacturer')"><img src="app/images/Computer_micro_chip_256.png" class="img-role img-responsive" alt="Responsive image"></a>
      <h2>Manufacturer</h2>
      <p>The goal of a manufacturer is to specify the design of a single hardware or software component. An example of such a component is a chip or solar inverter. The manufacturer specifies the input and output ports and the default values of any constants that can be wired to these ports.</p>
      <a href="#/Components" ng-click="selectRoleByLabel('Manufacturer')" class="btn btn-primary">Start as Manufacturer &raquo;</a>
    </div>
    <div class="col-lg-4 col-role">
      <a href="#/Applications" ng-click="selectRoleByLabel('Engineer')"><img src="app/images/Data_management_interface_symbol_with_gears_and_binary_code_numbers_256.png" class="img-role img-responsive" alt="Responsive image"></a>
      <h2>Engineer</h2>
      <p>The goal of an engineer is to group together a set of components designed by one or more manufacturers and to create a packaged solution. An example of such a solution is a micro-controller that controls multiple electric vehicle charging stations. The engineer wires together a group of components and can instantiate constants if required.</p>
      <a href="#/Applications" ng-click="selectRoleByLabel('Engineer')" class="btn btn-primary">Start as Engineer &raquo;</a>
    </div>
    <div class="col-lg-4 col-role">
      <a href="#/My_32_projects" ng-click="selectRoleByLabel('Technician')"><img src="app/images/Handyman_Tools_256.png" class="img-role img-responsive" alt="Responsive image"></a>
      <h2>Technician</h2>
      <p>The goal of a technician is to install a prepackaged solution (designed by an engineer) in the field. The technician is only interested in answering a predefined set of questions that will fill in missing constant values, instantiate components dynamically or wire components together.</p>
      <a href="#/My_32_projects" ng-click="selectRoleByLabel('Technician')" class="btn btn-primary">Start as Technician &raquo;</a>
    </div>
  </div>
</div>
