<!-- De bedoeling is dat dit een knop wordt waar je een link onder kunt stoppen naar een specifieke INTERFACE
-->
$if(isEditable)$
  $if(exprIsUni)$
  <input ng-model="val['$name$']" my-bluronenter type="text" class="form-control input-sm" ng-blur="put(ResourceId)">
  $else$
  <div ng-repeat="row in val['$name$'] track by \$index">
    <span my-showonhover-box class="glyphicon glyphicon-remove" ng-click="removeItem(val['$name$'], \$index, ResourceId)"></span>
    <span>{{row}}</span>
  </div>
  <div my-showonhover-box ng-controller="addItemController">
    <input ng-model="selected.value" my-bluronenter type="text" placeholder="Add value" class="form-control input-sm" ng-blur="addItem(val, '$name$', selected, ResourceId)">
  </div>
  $endif$$else$$if(exprIsUni)$
  <div>{{val['$name$']}}</div>
  $else$
  <div ng-repeat="row in val['$name$'] track by \$index">
    {{row}}
  </div>$endif$$endif$
</div>
