<!-- Template to use for explaining issues in a generic fashion -->
<div ng-repeat="row in val['$name$'] track by \$index" class="text-center">
  <div ng-if="row['@view']['ctrlIsInternal']"
	     popover="Internal Control can never be an issue as that would constitute incoherent behaviour." popover-trigger="mouseenter">
       &nbsp;&nbsp;&nbsp;
  </div>
  <div ng-if="!row['@view']['ctrlIsInternal']">
    <div ng-if="row['@view']['ctrlIsSpecified']">
      <div ng-if="row['@view']['ctrlIsAccepted']"> <!-- This is NOT an issue -->
		    <img src="app/images/handshake-green.gif" alt="--" width="30px"
		         popover="There is a consensus w.r.t. this topic." 
             popover-trigger="mouseenter">
      </div>
      <div ng-if="!row['@view']['ctrlIsAccepted']"> <!-- This is an issue, i.e. specified and not accepted. -->
			  <div ng-if="row['@view']['party']">
  			  <div ng-if="row['@view']['ctrlIsNotApplicable']">
            <a ng-href="#/{{row['@interfaces'][0]}}/{{row['id']}}">
  			      <img src="app/images/puzzlepieces.png" alt="ISSUE !" width="30px"
  				         popover="This is an issue that needs discussion, because it has been declared as non-applicable."
	  							 popover-trigger="mouseenter">
            </a>
          </div>
  			  <div ng-if="!row['@view']['ctrlIsNotApplicable']">
            <a ng-href="#/{{row['@interfaces'][0]}}/{{row['id']}}">
		  		    <img src="app/images/puzzlepieces.png" alt="ISSUE !" width="30px"
	  	  	         popover="This is an issue that needs discussion, because is has not (yet) been accepted."
				  				 popover-trigger="mouseenter">
            </a>
          </div>
			  </div>
			  <span ng-if="!row['@view']['party']">
          <a ng-href="#/{{row['@interfaces'][0]}}/{{row['id']}}">
  			    <img src="app/images/puzzlepieces.png" alt="ISSUE !" width="30px"
			           popover="This is an issue that needs your attention." 
                 popover-trigger="mouseenter">
          </a>
			  </span>
      </div>
    </div>
	  <div ng-if="!row['@view']['ctrlIsSpecified']">
	    <span popover="The Control is not filled in sufficiently to determine whether or not it poses an issue." 
            popover-trigger="mouseenter">
         ---
      </span>
	  </div>
  </div>
</div>
