<!-- Dit template werkt alleen voor risico's van het type 'LMH' -->
<!-- Variables that can be used:
, editable   : I /\ rliOrgUnit;sOU~;"_SESSION";V
, type       : rliType
, risk       : rliRisk
, likelihood : rliLikelihood
, impact     : rliImpact
, acceptlevel: rliRiskAppetite
, unacceptable: rliIsUnacceptable;V;'!!!'[Message]
-->
<div ng-repeat="row in val['$name$'] track by \$index">
  <span>
		<div ng-switch on="row['@view']['risk']">
		    <div ng-switch-when="L">
	        <span popover="Likelihood = {{row['@view']['likelihood']}}; Impact = {{row['@view']['impact']}}; RiskAppetite = {{row['@view']['acceptlevel']}}"
	          popover-trigger="mouseenter" style="text-align:center">
	          <div ng-show="{{row['@view']['unacceptable']=='!!!'}}"
                   style="background-color:#009933; color:white; text-align:center; font-weight:bold; font-size:2em">
                  <a ng-href="#/$navInterface$/{{row['id']}}">!{{row['@view']['risk']}}!</a>
            </div>
	          <div ng-hide="{{row['@view']['unacceptable']=='!!!'}}"
                   style="background-color:#99FF99; color:black; text-align:center">
                 <a ng-href="#/$navInterface$/{{row['id']}}"> {{row['@view']['risk']}} </a>
            </div>
	        </span>
		    </div>
		    <div ng-switch-when="M">
	        <span popover="Likelihood = {{row['@view']['likelihood']}}; Impact = {{row['@view']['impact']}}; RiskAppetite = {{row['@view']['acceptlevel']}}"
	          popover-trigger="mouseenter" style="text-align:center">
	          <div ng-show="{{row['@view']['unacceptable']=='!!!'}}"
                   style="background-color:#FFFF00; color:white; text-align:center; font-weight:bold; font-size:2em">
                  <a ng-href="#/$navInterface$/{{row['id']}}">!{{row['@view']['risk']}}!</a>
            </div>
	          <div ng-hide="{{row['@view']['unacceptable']=='!!!'}}"
                   style="background-color:#FFFF99; color:black; text-align:center">
                 <a ng-href="#/$navInterface$/{{row['id']}}"> {{row['@view']['risk']}} </a>
            </div>
	        </span>
		    </div>
		    <div ng-switch-when="H">
	        <span popover="Likelihood = {{row['@view']['likelihood']}}; Impact = {{row['@view']['impact']}}; RiskAppetite = {{row['@view']['acceptlevel']}}"
	          popover-trigger="mouseenter" style="text-align:center">
	          <div ng-show="{{row['@view']['unacceptable']=='!!!'}}"
                   style="background-color:#FF0000; color:white; text-align:center; font-weight:bold; font-size:2em">
                  <a ng-href="#/$navInterface$/{{row['id']}}">!{{row['@view']['risk']}}!</a>
            </div>
	          <div ng-hide="{{row['@view']['unacceptable']=='!!!'}}"
                   style="background-color:#FF9999; color:black; text-align:center">
                  <a ng-href="#/$navInterface$/{{row['id']}}"> {{row['@view']['risk']}} </a>
            </div>
	        </span>
		    </div>
		    <div ng-switch-default>
	        <span popover="Risk assessment by, or on behalf of, the risk owner is required!"
	          popover-trigger="mouseenter" style="text-align:center; font-weight:bold">
		        <div  style="background-color:grey; color:white; text-align:center">
                 <a ng-href="#/$navInterface$/{{row['id']}}">---</a>
            </div>
	        </span>
		    </div>
		</div>
  </span>
</div>
