<!-- Dit template werkt alleen voor risico's van het type 'LMH' -->
<!-- View for which this template is suitable:
VIEW RLIgauge: RLI DEFAULT
{ rIsAssessed: I /\ rliRisk;rliRisk~
, rliBFname  : rliBF;bfFullID
, rliType    : rliType
, risk       : rliRisk
, likelihood : rliLikelihood
, impact     : rliImpact
, acceptlevel: rliRiskAppetite
, unacceptable:rliIsUnacceptable --;V;'!!!'[Message]
, dvBelowFG  : (rliType;dvRLIType~ /\ rliRisk;dvRisk~);dvBelowFG
, dvBelowBG  : (rliType;dvRLIType~ /\ rliRisk;dvRisk~);dvBelowBG
, dvAboveFG  : (rliType;dvRLIType~ /\ rliRisk;dvRisk~);dvAboveFG
, dvAboveBG  : (rliType;dvRLIType~ /\ rliRisk;dvRisk~);dvAboveBG
, editable   : I /\ rliBF;scopeBF~;'_SESSION';V
} HTML TEMPLATE "RLIgauge.html" ENDVIEW
-->
<div ng-repeat="row in val['$name$'] track by \$index">
<!-- Show risk information if the risk has been assessed. -->
  <div ng-if="row['@view']['rIsAssessed']"
       popover="Impact='{{row['@view']['impact']}}'; Likelihood='{{row['@view']['likelihood']}}'; RiskAppetite='{{row['@view']['acceptlevel']}}'; rliType='{{row['@view']['rliType']}}'"
       popover-trigger="mouseenter" style="text-align:center">
    <!-- If risk is acceptable, i.e. lower than or equal to the risk appetite (acceptablelevel), use 'Below' colours. -->
    <div ng-if="!row['@view']['unacceptable']"
         style="background-color:{{row['@view']['dvBelowBG']}}; color:{{row['@view']['dvBelowFG']}}; text-align:center">
      <!-- Only risk owners are allowed to detail on the risk. -->
      <span ng-if="!row['@view']['editable']">{{row['@view']['risk']}}</span>
      <span ng-if="row['@view']['editable']"><a ng-href="#/$navInterface$/{{row['id']}}">{{row['@view']['risk']}}</a></span>
    </div>
    <!-- If risk is unacceptable, i.e. higher than the risk appetite (acceptablelevel), use 'Above' colours. -->
    <div ng-if="row['@view']['unacceptable']"
         style="background-color:{{row['@view']['dvAboveBG']}}; color:{{row['@view']['dvAboveFG']}}; text-align:center; font-weight:bold; font-size:2em">
      <!-- Only risk owners are allowed to detail on the risk. -->
      <span ng-if="!row['@view']['editable']">{{row['@view']['risk']}}</span>
      <span ng-if="row['@view']['editable']"><a ng-href="#/$navInterface$/{{row['id']}}">{{row['@view']['risk']}}</a></span>
    </div>
  </div>
<!-- Show stuff when the risk has not been assessed. -->
  <div ng-if="!row['@view']['rIsAssessed']"
	     popover="Risk assessment by, or on behalf of, the risk owner ({{row['@view']['rliBFname']}}) is required!"
	     popover-trigger="mouseenter" style="text-align:center">
		<div style="background-color:#E0E0E0; color:white; text-align:center">
      <!-- Only risk owners are allowed to detail on the risk. -->
      <span ng-if="!row['@view']['editable']">---</span>
      <span ng-if="row['@view']['editable']"><a ng-href="#/$navInterface$/{{row['id']}}">---</a></span>
    </div>
  </div>
<!-- done -->
</div>