<!-- Very primitive Yes/No presentation for booleans, without support for non-editable or non-univalent relations -->
<div class="text-center">
  $if(exprIsUni)$
  <div>
 
  <span style="padding: 3px; margin:0px" ng-model="val['$name$']" ng-click="val['$name$']=val['$name$']?'false':'true';put(ResourceId)">
    <span style="display:{{val['$name$']?'inline':'none'}}">
      <div style="background-color:blue; color:white; display:inline; padding: 3px">YES</div><div
           style="background-color:gray; color:black; display:inline; padding: 3px">NO</div>
    </span>
    <span style="display:{{!val['$name$']?'inline':'none'}}">
      <div style="background-color:gray; color:black; display:inline; padding: 3px">YES</div><div 
           style="background-color:blue; color:white; display:inline; padding: 3px">NO</div>
    </span>
  </span>
    
  </div>
  $else$
  <div class="checkbox" ng-repeat="row in val['$name$'] track by \$index">
    <label>
      <input ng-model="val['$name$'][\$index]" type="checkbox" ng-disabled="true"/>
    </label>
  </div>
  $endif$
</div>