@import url("Oblomilan.css");

/* show name for atoms with subinterfaces in BestellingNr subinterfaces for Create New BestellingNr */
[isNew=true][editing=true] .Interface[label=BestellingNr] .Interface[label=Klant] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display: block;
  float: none;
}
[isNew=true][editing=true] .Interface[label=BestellingNr] .Interface[label=Leverancier] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display: block;
  float: none;
}
[isNew=true][editing=true] .Interface[label=BestellingNr] .Interface[label=Product] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display: block;
  float: none;
}

/* show name for atom with subinterface in Zoek klant op nr */
[editing=true] .Interface[label="Zoek klant op nr"] .Interface[label=Klantnr] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display: block;
  float: none;
}