<!--
VIEW ViewContact: ContactEndpoint
{ id      : xxID
, status  : xxStatus -- (i.e. a color, e.g. Green, Red, White)
, fgcolor : xxStatus;statusFGColor -- if xxStatus exists, then statusFGColor exists too
, bgcolor : xxStatus;statusBGColor -- if xxStatus exists, then statusBGColor exists too
, popover : xxStatus;statusPopoverText 
} HTML TEMPLATE "ID_With_Status_Color.html" ENDVIEW
-->
<style>
my-nav-to-interfaces a { color : inherit; }
</style>
<div ng-repeat="atom in resource['$name$']">
  <div ng-if="atom._view_.status" style="background-color:{{atom._view_.bgcolor}}; color:{{atom._view_.fgcolor}}" popover="{{atom._view_.popover}}" popover-placement="top" popover-trigger="mouseenter" popover-popup-delay="1000">
		<my-nav-to-interfaces ifcs="atom._ifcs_" resource="atom._id_">&nbsp;{{atom._view_.id}}&nbsp;</my-nav-to-interfaces>
  </div>
  <div ng-if="!atom._view_.status" popover="{{atom._view_.popover}}" popover-placement="top" popover-trigger="mouseenter" popover-popup-delay="1000">
		<my-nav-to-interfaces ifcs="atom._ifcs_" resource="atom._id_">&nbsp;{{atom._view_.id}}&nbsp;</my-nav-to-interfaces>
  </div>
</div>
