<!-- VIEW LoA: ISOLevel DEFAULT HTML TEMPLATE "ISOLevel.html" ENDVIEW -->
	<div ng-repeat="(key, row) in resource['$name$']">
		<div ng-switch="row['_view_']['ISOLevel']">
		  <div ng-switch-when="1">
				<img src="app/images/LoA1-red.png" alt="LoA = 1" style="height:2em"
					 popover-title="LoA = 1: Little confidence"
		  	   uib-popover="LoA (Level of Assurance) is defined in ISO/IEC 29115 - ITU-T X.1254."
				 	 popover-trigger="mouseenter">
		  </div>
		  <div ng-switch-when="2">
				<img src="app/images/LoA2-red.png" alt="LoA = 2" style="height:2em"
					 popover-title="LoA = 2: Some confidence"
		  	   uib-popover="LoA (Level of Assurance) is defined in ISO/IEC 29115 - ITU-T X.1254."
				 	 popover-trigger="mouseenter">
		  </div>
		  <div ng-switch-when="3">
				<img src="app/images/LoA3-red.png" alt="LoA = 3" style="height:2em"
					 popover-title="LoA = 3: High confidence"
		  	   uib-popover="LoA (Level of Assurance) is defined in ISO/IEC 29115 - ITU-T X.1254."
					 popover-trigger="mouseenter">
		  </div>
		  <div ng-switch-when="4">
				<img src="app/images/LoA4-red.png" alt="LoA = 4" style="height:2em"
					 popover-title="LoA = 4: Very high confidence"
		  	   uib-popover="LoA (Level of Assurance) is defined in ISO/IEC 29115 - ITU-T X.1254."
					 popover-trigger="mouseenter">
		  </div>
		</div>
	</div>
