#ou-header {
	height				: 40px;
	margin-top			: 3px;
	background-image	: url('../images/bg.png');
	background-repeat	: repeat-x;
	background-size		: contain;
	background-color	: white;
}

#ou-timeline::after {
	content				: url('../images/OUNLribbon.png');
	
}