@import url("Oblomilan.css");

#Header { 
    height: 80px;
    background: white;
    padding:0px;
    margin:0px;
}
#Logo {
    float: left;
    height: 80px;
    width: 190px;
    background: url("../images/owinsp05.jpg") no-repeat;
    background-size: 100%;
}
#Decoration {
    float: right;
    height: 80px;
    width : 525px;
    background: url("../images/OrdinaEnTarski.jpg") no-repeat;
    background-size: 100%;
}

/* Achtergrondkleur per rol */
#AmpersandRoot[role=Inspecteur] {
  background-color: #f0f0f0;
}

#AmpersandRoot[role=Hoofdinspecteur] {
  background-color: #FFFFE3;
}

#AmpersandRoot[role="Juridisch medewerker"] {
  background-color: #e8fae8;
}

#AmpersandRoot[role="Dummy"] {
  background-color: #e8f0Ff;
}

#ScrollPane > .Atom > .InterfaceList > .Interface > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface {

margin-bottom: 20px;
    
width: 500px;

