<div ng-repeat="row in val['$name$'] track by \$index">
  <span>
			<canvas id="MapCanvas" width="480" height="400"></canvas>
		    <script>
		      var mapcanvas = document.getElementById('MapCanvas');
		      var mapctx = mapcanvas.getContext('2d');

		      var imageObj = new Image();
		      imageObj.src = "app/images/{{row['@view']['imgfile']}}";
          mapctx.drawImage(imageObj);

		      var iconObj = new Image();
		      iconObj.src = "app/images/{{row['@view']['iconfile']}}";
          mapctx.drawImage(iconObj, {{row['@view']['cpairX']}}, {{row['@view']['cpairY']}}, 30, 30);
		    </script>
  </span>
</div>