<div ng-repeat="row in val['$name$'] track by \$index">
  <span>
    (X,Y) : ({{row['@view']['cpairX']}}, {{row['@view']['cpairY']}})<br>
    map   : app/images/{{row['@view']['imgfile']}}<br>
    icon  : app/images/{{row['@view']['iconfile']}}<br>
    <p id="demo"></p>
    <script>
      document.getElementById("demo").innerHTML = "(X,Y) : ({{row['@view']['cpairX']}}, {{row['@view']['cpairY']}})";
    </script>
<!--
		<canvas id="MapCanvas" style="border:1px solid"></canvas>
	    <script type="text/javascript">
	      var mapcanvas = document.getElementById('MapCanvas');
	      var mapctx = mapcanvas.getContext('2d');

	      var mapImage = new Image();
	      mapImage.src = "app/images/{{row['@view']['imgfile']}}";
        mapcanvas.height = mapImage.naturalHeight;
        mapcanvas.width = mapImage.naturalWidth;
        mapctx.drawImage(mapImage,0,0);

	      var iconObj = new Image();
	      iconObj.src = "app/images/{{row['@view']['iconfile']}}";
        mapctx.drawImage(iconObj, {{row['@view']['cpairX']}}, {{row['@view']['cpairY']}}, 30, 30);
	    </script>
-->
  </span>
</div>