<!-- Very primitive Yes/No presentation for booleans, without support for non-editable or non-univalent relations -->
<div> 
  <span sstyle="padding: 3px; margin:0px" ng-model="val['$name$']" 
        ng-click="val['$name$']=val['$name$']?'false':'true';patch(ResourceId)">
    <span ng-if="val['$name$']">
      <div style="background-color:blue; color:white; display:inline; padding:3px; font-weight:bold">YES</div>
      <div style="background-color:gray; color:black; display:inline; padding:3px">no</div>
    </span>
    <span ng-if="!val['$name$']">
      <div style="background-color:gray; color:black; display:inline; padding:3px">yes</div>
      <div style="background-color:blue; color:white; display:inline; padding:3px; font-weight:bold">NO</div>
    </span>
  </span>
</div>