<!-- LinkedText.html
VIEW Scopes : Scope 
{ "name"    : scopeName
, "prefix"  : scopeIPO;scopeName
, "seqnr"   : scopeSeqNr
, "globalID": scopeID
, "docshort": scopeDoc;docShort
, "doclong" : scopeDoc;docLong
} HTML TEMPLATE "LinkedText.html" ENDVIEW
-->
<div ng-repeat="row in val['$name$'] track by \$index">

  <div ng-if="!row['@view']['globalID']">
	  <div ng-if="row['@view']['doclong']"
	       popover-title="{{row['@view']['docshort']}}"
	       popover="{{row['@view']['doclong']}}"
	       popover-placement="bottom" popover-trigger="mouseenter">
			<!-- output the constructed text as a link -->
			<div ng-if="row['@view']['prefix']">
			  <div ng-if="row['@view']['seqnr']">
				  <a ng-href="#/$navInterface$/{{row['id']}}">
				    {{row['@view']['prefix']}}:{{row['@view']['name']}}({{row['@view']['seqnr']}})
				  </a>
			  </div>
			  <div ng-if="!row['@view']['seqnr']">
				  <a ng-href="#/$navInterface$/{{row['id']}}">
				    {{row['@view']['prefix']}}:{{row['@view']['name']}}
				  </a>
			  </div>
			</div>

			<div ng-if="!row['@view']['prefix']">
			  <div ng-if="row['@view']['seqnr']">
				  <a ng-href="#/$navInterface$/{{row['id']}}">
				    {{row['@view']['name']}}({{row['@view']['seqnr']}})
				  </a>
			  </div>
			  <div ng-if="!row['@view']['seqnr']">
				  <a ng-href="#/$navInterface$/{{row['id']}}">
				    {{row['@view']['name']}}
				  </a>
			  </div>
			</div>
			<!-- end of constructed text output -->
	  </div>
	  <div ng-if="!row['@view']['doclong']">
	    <div ng-if="row['@view']['docshort']"
	       popover="{{row['@view']['docshort']}}"
	       popover-placement="bottom" popover-trigger="mouseenter">
				<!-- output the constructed text as a link -->
				<div ng-if="row['@view']['prefix']">
				  <div ng-if="row['@view']['seqnr']">
					  <a ng-href="#/$navInterface$/{{row['id']}}">
					    {{row['@view']['prefix']}}:{{row['@view']['name']}}({{row['@view']['seqnr']}})
					  </a>
				  </div>
				  <div ng-if="!row['@view']['seqnr']">
					  <a ng-href="#/$navInterface$/{{row['id']}}">
					    {{row['@view']['prefix']}}:{{row['@view']['name']}}
					  </a>
				  </div>
				</div>

				<div ng-if="!row['@view']['prefix']">
				  <div ng-if="row['@view']['seqnr']">
					  <a ng-href="#/$navInterface$/{{row['id']}}">
					    {{row['@view']['name']}}({{row['@view']['seqnr']}})
					  </a>
				  </div>
				  <div ng-if="!row['@view']['seqnr']">
					  <a ng-href="#/$navInterface$/{{row['id']}}">
					    {{row['@view']['name']}}
					  </a>
				  </div>
				</div>
				<!-- end of constructed text output -->
      </div>
	    <div ng-if="!row['@view']['docshort']">
				<!-- output the constructed text as a link -->
				<div ng-if="row['@view']['prefix']">
				  <div ng-if="row['@view']['seqnr']">
					  <a ng-href="#/$navInterface$/{{row['id']}}">
					    {{row['@view']['prefix']}}:{{row['@view']['name']}}({{row['@view']['seqnr']}})
					  </a>
				  </div>
				  <div ng-if="!row['@view']['seqnr']">
					  <a ng-href="#/$navInterface$/{{row['id']}}">
					    {{row['@view']['prefix']}}:{{row['@view']['name']}}
					  </a>
				  </div>
				</div>

				<div ng-if="!row['@view']['prefix']">
				  <div ng-if="row['@view']['seqnr']">
					  <a ng-href="#/$navInterface$/{{row['id']}}">
					    {{row['@view']['name']}}({{row['@view']['seqnr']}})
					  </a>
				  </div>
				  <div ng-if="!row['@view']['seqnr']">
					  <a ng-href="#/$navInterface$/{{row['id']}}">
					    {{row['@view']['name']}}
					  </a>
				  </div>
				</div>
				<!-- end of constructed text output -->
	    </div>
	  </div>
  </div>

  <div ng-if="row['@view']['globalID']">
	  <div ng-if="row['@view']['doclong']"
	       popover-title="{{row['@view']['docshort']}} (id={{row['@view']['globalID']}})"
	       popover="{{row['@view']['doclong']}}"
	       popover-placement="bottom" popover-trigger="mouseenter">
			<!-- output the constructed text as a link -->
			<div ng-if="row['@view']['prefix']">
			  <div ng-if="row['@view']['seqnr']">
				  <a ng-href="#/$navInterface$/{{row['id']}}">
				    {{row['@view']['prefix']}}:{{row['@view']['name']}}({{row['@view']['seqnr']}})
				  </a>
			  </div>
			  <div ng-if="!row['@view']['seqnr']">
				  <a ng-href="#/$navInterface$/{{row['id']}}">
				    {{row['@view']['prefix']}}:{{row['@view']['name']}}
				  </a>
			  </div>
			</div>

			<div ng-if="!row['@view']['prefix']">
			  <div ng-if="row['@view']['seqnr']">
				  <a ng-href="#/$navInterface$/{{row['id']}}">
				    {{row['@view']['name']}}({{row['@view']['seqnr']}})
				  </a>
			  </div>
			  <div ng-if="!row['@view']['seqnr']">
				  <a ng-href="#/$navInterface$/{{row['id']}}">
				    {{row['@view']['name']}}
				  </a>
			  </div>
			</div>
			<!-- end of constructed text output -->
	  </div>
	  <div ng-if="!row['@view']['doclong']">
	    <div ng-if="row['@view']['docshort']"
	       popover-title="{{row['@view']['docshort']}}"
	       popover="id={{row['@view']['globalID']}}"
	       popover-placement="bottom" popover-trigger="mouseenter">
				<!-- output the constructed text as a link -->
				<div ng-if="row['@view']['prefix']">
				  <div ng-if="row['@view']['seqnr']">
					  <a ng-href="#/$navInterface$/{{row['id']}}">
					    {{row['@view']['prefix']}}:{{row['@view']['name']}}({{row['@view']['seqnr']}})
					  </a>
				  </div>
				  <div ng-if="!row['@view']['seqnr']">
					  <a ng-href="#/$navInterface$/{{row['id']}}">
					    {{row['@view']['prefix']}}:{{row['@view']['name']}}
					  </a>
				  </div>
				</div>

				<div ng-if="!row['@view']['prefix']">
				  <div ng-if="row['@view']['seqnr']">
					  <a ng-href="#/$navInterface$/{{row['id']}}">
					    {{row['@view']['name']}}({{row['@view']['seqnr']}})
					  </a>
				  </div>
				  <div ng-if="!row['@view']['seqnr']">
					  <a ng-href="#/$navInterface$/{{row['id']}}">
					    {{row['@view']['name']}}
					  </a>
				  </div>
				</div>
				<!-- end of constructed text output -->
	    </div>
	    <div ng-if="!row['@view']['docshort']"
	       popover="id={{row['@view']['globalID']}}"
	       popover-placement="bottom" popover-trigger="mouseenter">
				<!-- output the constructed text as a link -->
				<div ng-if="row['@view']['prefix']">
				  <div ng-if="row['@view']['seqnr']">
					  <a ng-href="#/$navInterface$/{{row['id']}}">
					    {{row['@view']['prefix']}}:{{row['@view']['name']}}({{row['@view']['seqnr']}})
					  </a>
				  </div>
				  <div ng-if="!row['@view']['seqnr']">
					  <a ng-href="#/$navInterface$/{{row['id']}}">
					    {{row['@view']['prefix']}}:{{row['@view']['name']}}
					  </a>
				  </div>
				</div>

				<div ng-if="!row['@view']['prefix']">
				  <div ng-if="row['@view']['seqnr']">
					  <a ng-href="#/$navInterface$/{{row['id']}}">
					    {{row['@view']['name']}}({{row['@view']['seqnr']}})
					  </a>
				  </div>
				  <div ng-if="!row['@view']['seqnr']">
					  <a ng-href="#/$navInterface$/{{row['id']}}">
					    {{row['@view']['name']}}
					  </a>
				  </div>
				</div>
				<!-- end of constructed text output -->
	    </div>
	  </div>
  </div>
</div>