<!-- Copied from Atomic[] "$label$" : $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$  ($if(!isEditable)$not $endif$editable)

VIEW Login: SESSION
{ sessionAccountExists: I  /\ sessionAccount;sessionAccount~
, sessionUserid: sessionUser
, loginUserid  : loginUserid -- N.B.: Na succesvol inloggen wordt het loginUserid weggegooid
, loginPassword: loginPassword -- N.B.: Na succesvol inloggen wordt het loginPassword weggegooid
} HTML TEMPLATE "Login.html" ENDVIEW
-->
<div ng-repeat="row in val['$name$'] track by \$index" class="text-center">
	<div ng-if="row['@view']['sessionAccountExists']"> <!-- Logout -->
      <button class="btn btn-lg btn-primary btn-block" style="max-width:300px; margin:0 auto" type="submit">Logout</button>		
	</div>
	<div ng-if="!row['@view']['sessionAccountExists']"> <!-- Login -->
	  <form class="login-form" style="max-width:300px; margin:0 auto">
	    <h2>Please sign in</h2>
	    <input class="form-control input-sm ng-pristine ng-valid ng-touched" type="text" 
	           ng-blur="put(ResourceId)" my-bluronenter="" 
	           placeholder="UserID" required 
	           ng-model="val['UserID']" 
	           style="margin-bottom:-1px; border-bottom-right-radius:0; border-bottom-left-radius:0">
	    <input class="form-control input-sm ng-pristine ng-valid ng-touched" type="password" 
	           ng-blur="put(ResourceId)" my-bluronenter="" 
	           placeholder="Password" required 
	           ng-model="val['Password']" 
	           style="border-top-left-radius:0; border-top-right-radius:0">
	    <br>
	    <div class="alert alert-danger" role="alert" ng-show="errorMsg">{{errorMsg}}</div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>		
	  </form>
	</div>
</div>