<!--
VIEW PortSummary: Port
{ "text" : portName
, "docshort": portDoc;docShort
, "doclong" : portDoc;docLong
, "portIsOutput" : (I /\ portIsOutput)
, "portIsInput" : (I /\ portIsInput)
} HTML TEMPLATE "PortSummary.html" ENDVIEW
-->
<table>
  <tr ng-repeat="row in val['$name$'] track by \$index">
    <td>
		  <!-- Onderstaande <div> is kopie van 'LinkedText.html', maar de inhoud is anders.-->
		  <div ng-if="row['@view']['doclong']"
		       popover-title="{{row['@view']['docshort']}}"
		       popover="{{row['@view']['doclong']}}"
		       popover-placement="bottom" 
		       popover-trigger="mouseenter">
		      <a ng-href="#/$navInterface$/{{row['id']}}">{{row['@view']['text']}}</a>
		  </div>
		  <div ng-if="!row['@view']['doclong']">
		    <div ng-if="row['@view']['docshort']"
		       popover="{{row['@view']['docshort']}}"
		       popover-placement="bottom" 
		       popover-trigger="mouseenter">
		      <a ng-href="#/$navInterface$/{{row['id']}}">{{row['@view']['text']}}</a>
		    </div>
		    <div ng-if="!row['@view']['docshort']">
		      <a ng-href="#/$navInterface$/{{row['id']}}">{{row['@view']['text']}}</a>
		    </div>
		  </div>
    </td>
    <td>&nbsp;&nbsp;
    </td>
    <td>
      <span ng-if="row['@view']['portIsOutput']">(Output)</span>
      <span ng-if="row['@view']['portIsInput']">(Input)</span>
    </td>
 </tr>
</table>