<!--
VIEW WireInBox : Wire
{ "dirtyID" : I
, "srcPrefix" : (wSrc;portIPO /\ wScope;-I);boxName
, "srcPrefixNr" : (wSrc;portIPO /\ wScope;-I);scopeSeqNr
, "srcPortName" : wSrc;portName
, "tgtPrefix" : (wTgt;portIPO /\ wScope;-I);boxName
, "tgtPrefixNr" : (wTgt;portIPO /\ wScope;-I);scopeSeqNr
, "tgtPortName" : wTgt;portName
} HTML TEMPLATE "WireInBox.html" ENDVIEW
-->
<div ng-repeat="row in val['$name$'] track by \$index">
	<div popover="{{row['@view']['dirtyID']}}" popover-placement="bottom" popover-trigger="mouseenter">
	
	  <a ng-href="#/$navInterface$/{{row['id']}}">
		  <span ng-if="row['@view']['srcPrefix']">
	      <span ng-if="row['@view']['srcPrefixNr']">
	         {{row['@view']['srcPrefix']}}({{row['@view']['srcPrefixNr']}}):{{row['@view']['srcPortName']}}
	      </span>
	      <span ng-if="!row['@view']['srcPrefixNr']">
	         {{row['@view']['srcPrefix']}}:{{row['@view']['srcPortName']}}
	      </span>
	    </span>
		  <span ng-if="!row['@view']['srcPrefix']">{{row['@view']['srcPortName']}}</span>
		  &nbsp;&rarr;&nbsp;
		  <span ng-if="row['@view']['tgtPrefix']">
	      <span ng-if="row['@view']['tgtPrefixNr']">
	         {{row['@view']['tgtPrefix']}}({{row['@view']['tgtPrefixNr']}}):{{row['@view']['tgtPortName']}}
	      </span>
	      <span ng-if="!row['@view']['tgtPrefixNr']">
	         {{row['@view']['tgtPrefix']}}:{{row['@view']['tgtPortName']}}
	      </span>
	    </span>
		  <span ng-if="!row['@view']['tgtPrefix']">{{row['@view']['tgtPortName']}}</span>
	  </a>
	</div>
</div>