$if(verbose)$<!-- Box-PropBtnPrimary.html "$label$" : $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$ ($if(crudC)$C$else$c$endif$$if(crudR)$R$else$r$endif$$if(crudU)$U$else$u$endif$$if(crudD)$D$else$d$endif$) -->
$endif$

$if(crudR)$
  <div ng-repeat="resource in resource['$name$']">
		<button class="btn btn-sm btn-primary" 
			uib-popover="{{resource.popovertext}}" popover-trigger="mouseenter"
	       ng-click="resource.property = !resource.property; saveAndNavTo(resource, 'property', patchResource, '{{resource.navTo}}');" 
	    ng-disabled="resource.disabled.length"
	        ng-hide="resource.hide"
<!--  	ng-controller="buttonController"-->
	  >$label$</button>
	</div>
$else$<span><i>N/A</i></span>$endif$