<!-- This view allows you to (de)allocate the session user as a stakeholder / claim or leave a seat
VIEW ShrSeatManagement : Stakeholder
{ "shrName" : shrName
, "shrDescr" : shrDescr
, "shrAccUserid" : shrAcc;accUserid
, "userIsShr" : I /\ V;'_SESSION';sessionAccount;shrAcc~
, "shrLeaveSeatReq" : shrLeaveSeatReq
, "shrIsFree" : I - (shrAcc;shrAcc~)
, "shrClaimSeatReq" : shrClaimSeatReq
, "shrIsOccupiedBySomeoneElse" : I /\ V;'_SESSION';sessionAccount;-shrAcc~
} HTML TEMPLATE "UETP-ShrSeatManagement.html" ENDVIEW
-->
<div ng-repeat="atom in resource['$name$']">
<!-- User himself is the stakeholder / occupies the seat -->
  <div ng-if="atom._view_['userIsShr']">
		<div class="checkbox" style="margin-top:0px; vertical-align:middle; text-align:center"
 				uib-popover="Check to leave this seat" popover-trigger="mouseenter">
shrLeaveSeatReq
			<label><input ng-model="resource['$name$']" type="checkbox" ng-change="saveItem(resource, '$name$', patchResource)"/></label>
		</div>
	</div>
<!-- The stakeholder / seat is not occupied -->
  <div ng-if="atom._view_['shrIsFree']">
		<div class="checkbox" style="margin-top:0px; vertical-align:middle; text-align:center"
 				uib-popover="Check to be assigned this seat" popover-trigger="mouseenter">
shrClaimSeatReq
			<label><input ng-model="resource['$name$']" type="checkbox" ng-change="saveItem(resource, '$name$', patchResource)"/></label>
		</div>
	</div>
<!-- Another user is the stakeholder / occupies the seat (in this case we grey out the checkbox for a more consistent layout) -->
  <div ng-if="atom._view_['shrIsOccupiedBySomeoneElse']">
		<div class="checkbox" style="margin-top:0px; vertical-align:middle; text-align:center"
 				uib-popover="Seat is occupied by {{atom._view_['shrAccUserid']}}" popover-trigger="mouseenter">
			<div type="checkbox" ng-disabled="true"></div>
		</div>
	</div>
<!-- Display the stakeholder name (and description in the popover) -->
	<div style="vertical-align:middle; text-align:left"
 				uib-popover="{{atom._view_['shrDescr']}}" popover-trigger="mouseenter">
			<span>{{atom._view_['shrName'}}</span>
		</div>
	</div>
</div>
