<!-- **Runtime criterion view**
VIEW VariableDeftime: Variable DEFAULT 
{ "text" : varShowSpec
, "popover" : varSpec
} HTML TEMPLATE "TextWithPopover.html" ENDVIEW
-->
	<div ng-repeat="(key, row) in resource['$name$']">
	  <div ng-if="row['_view_']['text']"
		  <div ng-if="row['_view_']['popover']"
		      popover="{{row['_view_']['popover']}}"
		      popover-trigger="mouseenter">
				{{row['_view_']['text']}}
		  </div>
	  </div>
	  <div ng-if="!row['_view_']['text']"
		  <div ng-if="row['_view_']['popover']">
				{{row['_view_']['popover']}}
		  </div>
	  </div>
	</div>
