<!--
VIEW ViewContact: ContactEndpoint
{ cepConnectsTo : cepConnectsTo
, cepMeans      : cepMeans
, cepAddress    : cepAddress
, cepNote       : cepNote
, cepAppUseProp : cepAppUseProp
, cepAppIsValid    : cepAppIsValid
, cepmeansImplemented  : cepMeans;cepmeansImplemented
} HTML TEMPLATE "ViewContact.html" ENDVIEW
-->
	<div ng-repeat="row in val['$name$'] track by \$index">
<table>
  <tr>
    <td>
      <img ng-src="app/images/{{row['@view']['cepMeans']}}-icon.png"
              alt="{{row['@view']['cepMeans']}}:" style="height:2em"
		      popover="Contact means: {{row['@view']['cepMeans']}}" 
			    popover-placement="left"
		      popover-trigger="mouseenter">
		</td>
		<td>
			<div ng-switch on="row['@view']['cepMeans']">
		    <div ng-switch-when="Email">&nbsp;&nbsp;<a href="mailto:{{row['@view']['cepAddress']}}">{{row['@view']['cepAddress']}}</a></div>
		    <div ng-switch-when="Pushover">&nbsp;&nbsp;<a href="mailto:{{row['@view']['cepAddress']}}@api.pushover.net">{{row['@view']['cepAddress']}}</a></div>
		    <div ng-switch-when="Pushalot">&nbsp;&nbsp;<a href="mailto:{{row['@view']['cepAddress']}}@.api.pushalot.com">{{row['@view']['cepAddress']}}</a></div>
		    <div ng-switch-when="Phone">&nbsp;&nbsp;<a href="tel:{{row['@view']['cepAddress']}}">{{row['@view']['cepAddress']}}</a></div>
		    <div ng-switch-default>&nbsp;&nbsp;{{row['@view']['cepAddress']}}</div>
		  </div>
	  </td>
	  <td>
		  <div ng-if="row['@view']['cepNote']"
		      popover="Note: {{row['@view']['cepNote']}}" 
		      popover-placement="right"
		      popover-trigger="mouseenter">
		    &nbsp;&nbsp;<img ng-src="app/images/note.png" alt="(*)" style="height:2em">
		  </div>
	  </td>
	  <td>
		  <div ng-if="row['@view']['cepAppIsValid']"
		      	popover="Applications will use this address for sending messages" 
		      	popover-placement="right"
		      	popover-trigger="mouseenter">
		    &nbsp;&nbsp;<img ng-src="app/images/Validated-icon.png" alt="Validated" style="height:2em">
		  </div>
		  <div ng-if="!row['@view']['cepAppIsValid']">
				<div ng-if="row['@view']['cepAppUseProp']"
		      	popover="Applications will use this address for sending messages, but only after the address is validated" 
		      	popover-placement="left"
		      	popover-trigger="mouseenter">
		    	&nbsp;&nbsp;<img ng-src="app/images/Validating-icon.png" alt="Valid????" style="height:2em">
			  </div>
				<div ng-if="!row['@view']['cepAppUseProp']">
		    	&nbsp;&nbsp;<img ng-src="app/images/ValidatedIsNA-icon.png" alt="--------" style="height:2em">
			  </div>
		  </div>
	  </td>
	</tr>
</table>
	</div>
