<!-- This template allows for showing data and specifying a popup over it. Usage:

VIEW ShowWithPopover: SomeConcept
{ "text" : scValue -- the value of the SomeConcept must be shown
, "popover" : scDefinition -- the definition of the SomeConcept shows as popovertext
} HTML TEMPLATE "TextWithPopover.html" ENDVIEW

-->
$if(verbose)$<!-- TextWithPopover.html "$label$" : $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$ ($if(crudC)$C$else$c$endif$$if(crudR)$R$else$r$endif$$if(crudU)$U$else$u$endif$$if(crudD)$D$else$d$endif$) -->$endif$
$if(crudR)$<div ng-controller="AtomicController">
    <div ng-repeat="resource in $if(exprIsUni)$(resource['$name$'] === null ? [] : [resource['$name$']])$else$resource['$name$']$endif$">
		<div ng-if="resource._view_.text">
			<div uib-tooltip="{{resource._view_.popover}}" tooltip-trigger="mouseenter" tooltip-placement="top">
				{{resource._view_.text}}
			</div>
		</div>
		<div ng-if="!resource._view_.text">
			<div>
				{{resource._view_.popover}}
			</div>
		</div>
	</div>
</div>$else$<span>
    <i>N/A</i>
</span>$endif$