$if(verbose)$<!-- Custom template: View-CredTypeIcon.html -->$endif$
$if(!exprIsUni)$<div class="row">
    <div class="col-xs-2" ng-repeat="credType in resource['$name$']">
        <my-nav-to-interfaces resource="credType">
            <img style="width:5em; display:block;" ng-src="{{credType._view_.iconUrl || 'app/images/credTypeDefault.svg'}}" />
            <span><a href="/#/ViewOrEditCredType/{{credType._id_}}">{{credType._view_.orgref}}:{{credType._view_.crtname}}</a></span>
        </my-nav-to-interfaces>
    </div>
</div>$else$<span>template error</span>$endif$