<!--
VIEW InterfaceMetaData: InterfaceMetaData
{ "ifcLogofile": ifcLogofile
, "ifcTitle": ifcTitle
} HTML TEMPLATE "View-InterfaceMetaData" ENDVIEW
-->
<div ng-repeat="resource in $if(exprIsUni)$(resource['$name$'] === null ? [] : [resource['$name$']])$else$resource['$name$']$endif$">
	<h2>
    <img style="height: 2em;" ng-src="app/images/{{resource._view_.ifcLogofile}}" alt="'app/images/{{resource._view_.ifcLogofile}}'"/>
		<span>&nbsp;</span>
		<span> {{resource._view_.ifcTitle}}</span>
	</h2>
</div>
