@import url("Oblomilan.css");

/*
#ScrollPane > .Atom > .InterfaceList> .Interface > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
    display: block;
    background-image: none;
    color:red;
    width:100%;
    float: left;
    margin-bottom: 10px;
}
 */

[editing=false] .Interface[label=Pattern] .Interface[label=diagram] > .Label {
  display: none;
}

#ScrollPane > .Atom > .InterfaceList > .Interface[label=Pattern] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface[label=diagram] {
  border:none;
}

.Interface[label=Pattern] .Interface[label=diagram] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  margin-top: 5px;
  margin-bottom: 5px;
}
