@import url("Oblomilan.css");

.MenuBar > .MenuItem[id=LinkToMain]{
	display:none;
}
.MenuBar > .MenuItem[id=MenuBarNew]{
	display:none;
}
.MenuBar select{
	display:none;
}

/* show only the images */
[editing=false] .Interface[label=Pattern] .Interface[label=diagram] > .Label {
	display:none;
}
#ScrollPane > .Atom > .InterfaceList > .Interface[label=Pattern] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface[label=diagram] {
  border:none;
}
.Interface[label=Pattern] .Interface[label=diagram] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  margin-top: 5px;
  margin-bottom: 5px;
}
[editing=false] .Interface[label=Regel] .Interface[label=diagram] > .Label {
	display:none;
}
#ScrollPane > .Atom > .InterfaceList > .Interface[label=Regel] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface[label=diagram] {
  border:none;
}
.Interface[label=Regel] .Interface[label=diagram] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  margin-top: 5px;
  margin-bottom: 5px;
}
[editing=false] .Interface[label=Concept] .Interface[label=diagram] > .Label {
	display:none;
}
#ScrollPane > .Atom > .InterfaceList > .Interface[label=Concept] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface[label=diagram] {
  border:none;
}
.Interface[label=Concept] .Interface[label=diagram] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* remove certain labels and arrows on boxes */
.Interface[label=Bronbestanden] .Interface[label=bestandsoverzicht] .Interface[label="bewaarde bestanden"] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display:none;
}
.Interface[label=Bronbestanden] .Interface[label=geladen] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display:none;
}

.Interface[label=Bewaren] .Interface[label=bewaar] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList  {
  border:none;
}
.Interface[label=Bewaren] .Interface[label=bewaar] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display:none;
}
.Interface[label=Bewaren] .Interface[label=bewaar] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList >  .Interface[label=savecontext] > .Label {
  display:none;
}
.Interface[label=Bewaren] .Interface[label=bewaar] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList >  .Interface[label=savecontext] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display:none;
}
.Interface[label=Bewaren] .Interface[label=bewaar] .Interface[label=populatie] > .Label {
  display:none;
}
.Interface[label=Bewaren] .Interface[label=bewaar] .Interface[label=populatie] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display:none;
}



[editing=true] .Interface[label=Bewaren] .Interface[label=bewaar] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList >  .Interface[label=populatie] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList >  .Interface[label="populatie van context (INCLUDE only)"] {
  display:none;
}
[editing=false] .Interface[label=Bewaren] .Interface[label=bewaar] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList >  .Interface[label=populatie] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList >  .Interface[label="populatie van context"] {
  display:none;
}
