@CHARSET "UTF-8";

/* header image */
#Header { 
    width: 100%;
    height: 116px;
    background-color: white;
    padding:0px;
    margin:0px;
}
#Decoration {
    float: right;
    height: 116px;
    width: 529px;
    background: url(../images/header_decoration.jpg) no-repeat;
}

/* buttons */
button.Button {
    border:none;
    width: 120px;
    height: 30px;
    background: url(../images/EditButton.png) no-repeat 0px 0px;
    text-align: center;
    font-weight: bold;
    color: black;
    margin: 5px 10px 0 10px;
}
button.Button:hover {
    background-position: 0px -30px;
    color: white;
}
/******************************************/
#ScrollPane {
	margin-top:129px;  /*116 + 33 + 1 + 5 + 30 + 10 - 50 - 16 = 129 */
}

/* font and color of standard elements and atom names*/
body { font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #333333; }

a, a:link, a:hover  { text-decoration: none; }
a:hover { color: #BF1E74; }
#ScrollPane .AtomName:link {color: #1A9AEA;}

.errsignal { border:solid;border-width: 2px; border-color:red;}
.warnsignal { border:solid;border-width: 1px; border-color:orange;}
.infosignal { border:none;border-width: 1px; border-color:green;}

/* IE workaround for color of text of MenuItems */
#TopLevelInterfaces a  { color: white; }
#TopLevelInterfaces a:hover  { color: #BF1E74; }

#SignalAndPhpLogs { /* these two share a corner, so we have the logs float and use extra div for the absolute positioning */
    position:absolute;
    top: 5px;
    right: 5px;
}

.AtomName {
    font-family: Arial;
    font-style: bold;
    font-size: 13px;
    height: 16px; /* not great to have a fixed height, but otherwise the label height alternates slightly because of yet unknown reasons */
}


.AtomList[concept="Blob"] .AtomName{
    overflow:auto;
    height:100%;
}

[editing=true] .Atom[atomic=true] > .AtomName {
    color: black;
    float: none;  /* so the background that signifies editability does stretch */
}

[editing=false] .Atom[atomic=false] > .AtomName {
    color: white; font-size:0px; /* IE workaround for color:transparent, which won't work in IE */
    white-space: nowrap;
    overflow: hidden;
    float: right;
    margin-right: 5px;
    margin-top: -7px;
    width: 15px;
    background-repeat:no-repeat;
    background-position: 0px 0px;
} 

[editing=false] .Atom[atomic=false][hasInterface] > .AtomName {
    background-image: url('../images/NavigationButton.png');
}
[editing=false] .Atom[atomic=false][hasInterface] > .AtomName:hover {
    background-image: url('../images/NavigationButtonHover.png');
} 
/* when we are editing, hide the atom name completely, since we don't want a button now */
[editing=true] .Atom[atomic=false] > .AtomName {
    display: none;
}
/* DeleteStub */
[editing=true] .AtomList[relation] > .AtomRow > .DeleteStub {
  	background-position: 3px 4px;
  	width: 22px;
}
[editing=true] .AtomList[relation] { /* in this case, the delete stub will serve as the padding */
    padding-left: 0px;
}

/* Special behavior for top level elements */
#ScrollPane > .Atom > .AtomName {
    display: none;
} 
#ScrollPane > .Atom > .InterfaceList {
    border: none;
    padding: 0px;
} 

#ScrollPane > .Atom > .InterfaceList > .Interface> .Label {
    font-size: 24px; color: #BF1E74; font-weight: bold; margin-left:10px; 
}

#ScrollPane > .Atom > .InterfaceList > .Interface > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom[atom="1"] > .AtomName {
	display:none;
}
#ScrollPane > .Atom > .InterfaceList > .Interface > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
	font-size: 18px; color: black; font-style: italic; margin-top:0px;
	display:block;
	background-image:none; 
	float:left;
    	overflow: visible;
	width:100%;
	height:30px;
}


#ScrollPane > .Atom > .InterfaceList > .Interface > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList {
    border: none;
    padding: 0px;
} 

#ScrollPane > .Atom > .InterfaceList > .Interface > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface {
    float: left;
    border-style: solid;
    border-color: #CDD8DE;
    border-width: 1px;
    -moz-border-radius: 5px;  /* rounded corners for Firefox */
    -webkit-border-radius: 5px;  /* rounded corners for Safari */
    padding: 10px;
    margin-left: 0px;
    margin-right: 20px;
}
    
#ScrollPane > .Atom > .InterfaceList > .Interface > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface > .Label {
    font-size: 16px; color: #253E8A; font-weight: bold; margin-bottom: 2px;
}
    

/* Spacing */
.Label {
    font-size: 13px;
    margin-bottom: 1px;
}
.AtomList {
    margin: 0px;
    border: 0px;
}
.AtomListElt {
    padding: 0px;
}
.InterfaceList {
    margin-top: 2px;
    padding: 5px;
} 
.Interface {
    margin-bottom: 0px;
}

/* Menu */
#TopLevelInterfaces {
/*    border-bottom: 1px solid #CDD8DE;*/
    border-top: 1px solid #CDD8DE;
    background: white;
}
#TopLevelInterfaces .MenuBar {
	background-color: transparent;
}
#TopLevelInterfaces .MenuItem {
	margin-right: 10px;
    border-left: 1px solid #CDD8DE;
    border-right: 1px solid #CDD8DE;
    border-bottom: 1px solid #CDD8DE;
	background-color: black;
}
#TopLevelInterfaces .MenuItem[id=LinkToMain]{
	display:none;
}
#TopLevelInterfaces .MenuItem[id=MenuBarNew]{
	display:none;
}
#TopLevelInterfaces .MenuItem[interface="Validate"]{
	display:none;
}
#TopLevelInterfaces .MenuBar select{
	display:none;
}
#TopLevelInterfaces .MenuItem[interface="Export Atlas"]{
	color:black;
	background-color:white;
}
#TopLevelInterfaces .MenuItem[interface="Relation with theory (Manual)"]{
	float:right;
}


/* * * * * * * * * * * * * * *
 * CONVENTIONAL NAME  LAYOUT *
 * * * * * * * * * * * * * * */

/* show only the images and make them a bit smaller */
.AtomName img {max-width:65%;}

.Interface .Interface[label="diagram"] > .Label {
	display:none;
}
#ScrollPane > .Atom > .InterfaceList > .Interface > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface[label="diagram"] {
  border:none;
}
.Interface .Interface[label="diagram"] > .AtomList > .AtomRow > .AtomListElt > .Atom > .AtomName {
  margin-top: 5px;
  margin-bottom: 5px;
}
.Interface .Interface[label="diagram"] > .AtomList > .AtomRow  {
  float:left;
}

#ScrollPane > .Atom > .InterfaceList > .Interface > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface[label="relations"]  > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList {
	border:none;
       	margin-top:0px;
      	padding:0px;
}
.Interface .Interface[label="relations"] > .AtomList > .AtomRow > .AtomListElt > .Atom > .AtomName {
  display:none;
}
.Interface .Interface[label="relations"]  .Interface[label="relation"] > .Label {
	display:none;
}
.Interface .Interface[label="relations"]  .Interface[label="with properties"] > .Label {
	float:left;
	margin-left:15px;
}
.Interface .Interface[label="relations"]  .Interface[label="with properties"] > .AtomList > .AtomRow  {
  float:left;
  margin-left:10px;
}

/* * * * * * * * * * * * *
 * NAME DEPENDENT LAYOUT *
 * * * * * * * * * * * * */

/* different labels for edit and non-edit */
[editing=true] .Interface[label="Export Atlas"] .Interface[label="Export POPULATIONs to..."]  .Interface[label="file (INCLUDE only)"] {
  display:none;
}
[editing=false] .Interface[label="Export Atlas"] .Interface[label="Export POPULATIONs to..."]  .Interface[label="type a file name"] {
  display:none;
}



/* remove navigation arrows on boxes */
.Interface[label="CONTEXT files (Design / reload)"] .Interface[label="loaded into Atlas"] > .AtomList > .AtomRow > .AtomListElt > .Atom > .AtomName {
  display:none;
}
.Interface[label="CONTEXT files (Design / reload)"] .Interface[label="overview of files"] .Interface[label="uploaded or exported source files"] > .AtomList > .AtomRow > .AtomListElt > .Atom > .AtomName {
  display:none;
}


/* reorganize the POPULATION of Concept */
#ScrollPane > .Atom > .InterfaceList > .Interface > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface[label="POPULATION"]  > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList {
	border:none;
}
.Interface[label="Concept"] .Interface[label="POPULATION"] .Interface[label="atom"]  .Label  {
  display:none;
}
.Interface[label="Concept"] .Interface[label="POPULATION"] .Interface[label="atom"]  .AtomName  {
    white-space: nowrap;
}


/* reorganize the POPULATION of Relation */
#ScrollPane > .Atom > .InterfaceList > .Interface > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface[label="POPULATION"]  > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface[label="tuple"]  > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList {
	border:none;
}
.Interface[label="Relation"] .Interface[label="POPULATION"] .Interface[label="tuple"]  .Interface  {
  float:left;
}
.Interface[label="Relation"] .Interface[label="POPULATION"] .Interface[label="tuple"]  .Label  {
  display:none;
}
.Interface[label="Relation"] .Interface[label="POPULATION"] .Interface[label="tuple"] > .AtomList > .AtomRow > .AtomListElt > .Atom > .AtomName  {
  display:none;
}
[editing=false] .Interface[label="Relation"] .Interface[label="POPULATION"] .Interface[label="tuple"] .Interface .AtomList[relation] {
    padding-right: 4px;
    background-color: white;
}
[editing=false] .Interface[label="Relation"] .Interface[label="POPULATION"] .Interface[label="tuple"] .Interface[label="target"] .AtomList[relation] {
    background:url('../images/ast.png') no-repeat;
    padding-left: 20px;
}

.Interface[label="Relation"] .Interface[label="POPULATION"] .Interface[label="tuple"]  .Interface[label="source"] > .AtomList > .AtomRow > .AtomListElt > .Atom[atom='']>.AtomName:after {
    content: "<select existing atom>";
}
.Interface[label="Relation"] .Interface[label="POPULATION"] .Interface[label="tuple"]  .Interface[label="target"] > .AtomList > .AtomRow > .AtomListElt > .Atom[atom='']>.AtomName:after {
    content: "<select existing atom>";
}
[editing=true] .AtomList > .AtomRow[rowType=Normal] > .DeleteStub {
    visibility: visible;
}    
[editing=true] .AtomList > .AtomRow > .DeleteStub:hover {
    background-image: url('../images/DeleteButtonHover.png');
}
[editing=true] .AtomList >.AtomRow>.InsertStub {
    visibility: visible;
}
[editing=true] .AtomList >.AtomRow>.InsertStub:hover {
    background-color: #606060;
    cursor: default;
}










