@CHARSET "UTF-8";

/* header image */
#Header { 
    width: 100%;
    height: 116px;
    background-color: white;
    padding:0px;
    margin:0px;
}
#Decoration {
    float: right;
    height: 116px;
    width: 529px;
    background: url(../images/header_decoration.jpg) no-repeat;
}

/* buttons */
button.Button {
    border:none;
    width: 120px;
    height: 30px;
    background: url(../images/EditButton.png) no-repeat 0px 0px;
    text-align: center;
    font-weight: bold;
    color: black;
    margin: 5px 10px 0 10px;
}
button.Button:hover {
    background-position: 0px -30px;
    color: white;
}
/******************************************/
#ScrollPane {
	margin-top:129px;  /*116 + 33 + 1 + 5 + 30 + 10 - 50 - 16 = 129 */
}

/* font and color of standard elements and atom names*/
body { font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #333333; }

a, a:link, a:hover  { text-decoration: none; }
a:hover { color: #BF1E74; }
#ScrollPane .AtomName:link {color: #1A9AEA;}

/* IE workaround for color of text of MenuItems */
#TopLevelInterfaces a  { color: white; }
#TopLevelInterfaces a:hover  { color: #BF1E74; }

#SignalAndPhpLogs { /* these two share a corner, so we have the logs float and use extra div for the absolute positioning */
    position:absolute;
    top: 5px;
    right: 5px;
}

.AtomName {
    font-family: Arial;
    font-style: bold;
    font-size: 13px;
    height: 16px; /* not great to have a fixed height, but otherwise the label height alternates slightly because of yet unknown reasons */
}


.AtomList[concept="Blob"] .AtomName{
    overflow:auto;
    height:40px;
}

[editing=true] .Atom[atomic=true] > .AtomName {
    color: black;
    float: none;  /* so the background that signifies editability does stretch */
}

[editing=false] .Atom[atomic=false] > .AtomName {
    color: white; font-size:0px; /* IE workaround for color:transparent, which won't work in IE */
    white-space: nowrap;
    overflow: hidden;
    float: right;
    margin-right: 5px;
    margin-top: -7px;
    width: 15px;
    background-repeat:no-repeat;
    background-position: 0px 0px;
}
[editing=false] .Atom[atomic=false][hasInterface] > .AtomName {
    background-image: url('../images/NavigationButton.png');
}
[editing=false] .Atom[atomic=false][hasInterface] > .AtomName:hover {
    background-image: url('../images/NavigationButtonHover.png');
} 
/* when we are editing, hide the atom name completely, since we don't want a button now */
[editing=true] .Atom[atomic=false] > .AtomName {
    display: none;
}
/* DeleteStub */
[editing=true] .AtomList[relation] > .AtomRow > .DeleteStub {
  	background-position: 3px 4px;
  	width: 22px;
}
[editing=true] .AtomList[relation] { /* in this case, the delete stub will serve as the padding */
    padding-left: 0px;
}
/* Special behavior for top level elements */

#ScrollPane > .Atom > .AtomName {
    display: none;
} 
#ScrollPane > .Atom > .InterfaceList {
    border: none;
    padding: 0px;
} 

#ScrollPane > .Atom > .InterfaceList > .Interface> .Label {
    font-size: 24px; color: #BF1E74; font-weight: bold; margin-top:10px; margin-bottom:5px; margin-left:10px; 
} 


#ScrollPane > .Atom > .InterfaceList> .Interface > .AtomList > .AtomRow > .AtomListElt > .Atom > .AtomName {
    display: none;
} 

#ScrollPane > .Atom > .InterfaceList > .Interface > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList {
    border: none;
    padding: 0px;
} 

#ScrollPane > .Atom > .InterfaceList > .Interface > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface {
    float: left;
    border-style: solid;
    border-color: #CDD8DE;
    border-width: 1px;
    -moz-border-radius: 5px;  /* rounded corners for Firefox */
    -webkit-border-radius: 5px;  /* rounded corners for Safari */
    padding: 10px;
    margin-left: 0px;
    margin-right: 20px;
}
    
#ScrollPane > .Atom > .InterfaceList > .Interface > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface > .Label {
    font-size: 16px; color: #253E8A; font-weight: bold; margin-bottom: 2px;
}
    

/* Spacing */
.Label {
    font-size: 13px;
    margin-bottom: 1px;
}
.AtomList {
    margin: 0px;
    border: 0px;
}
.AtomListElt {
    padding: 0px;
}
.InterfaceList {
    margin-top: 2px;
    padding: 5px;
} 
.Interface {
    margin-bottom: 0px;
}






/* Menu */
#TopLevelInterfaces {
/*    border-bottom: 1px solid #CDD8DE;*/
    border-top: 1px solid #CDD8DE;
    background: white;
}
#TopLevelInterfaces .MenuBar {
	background-color: transparent;
}
#TopLevelInterfaces .MenuItem {
	margin-right: 10px;
    border-left: 1px solid #CDD8DE;
    border-right: 1px solid #CDD8DE;
    border-bottom: 1px solid #CDD8DE;
	background-color: black;
}
#TopLevelInterfaces .MenuItem[id=LinkToMain]{
	display:none;
}
#TopLevelInterfaces .MenuItem[id=MenuBarNew]{
	display:none;
}
#TopLevelInterfaces .MenuBar select{
	display:none;
}

/* show only the images */
[editing=false] .Interface[label="Pattern"] .Interface[label="diagram"] > .Label {
	display:none;
}
#ScrollPane > .Atom > .InterfaceList > .Interface[label="Pattern"] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface[label="diagram"] {
  border:none;
}
.Interface[label="Pattern"] .Interface[label="diagram"] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  margin-top: 5px;
  margin-bottom: 5px;
}
[editing=false] .Interface[label="Regel"] .Interface[label="diagram"] > .Label {
	display:none;
}
#ScrollPane > .Atom > .InterfaceList > .Interface[label="Regel"] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface[label="diagram"] {
  border:none;
}
.Interface[label="Regel"] .Interface[label="diagram"] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  margin-top: 5px;
  margin-bottom: 5px;
}
[editing=false] .Interface[label="Concept"] .Interface[label="diagram"] > .Label {
	display:none;
}
#ScrollPane > .Atom > .InterfaceList > .Interface[label="Concept"] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface[label="diagram"] {
  border:none;
}
.Interface[label="Concept"] .Interface[label="diagram"] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* remove certain labels and arrows on boxes */
.Interface[label="Contexten verwerken"] .Interface[label=="bestandsoverzicht"] .Interface[label="ge-uploade of bewaarde bestanden"] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display:none;
}
.Interface[label="Contexten verwerken"] .Interface[label="geladen in Atlas"] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display:none;
}

.Interface[label="Atlasbewerkingen effectueren"] .Interface[label="Atlasbewerkingen opslaan in..."] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList  {
  border:none;
}
.Interface[label="Atlasbewerkingen effectueren"] .Interface[label="Atlasbewerkingen opslaan in..."] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display:none;
}
.Interface[label="Atlasbewerkingen effectueren"] .Interface[label="Atlasbewerkingen opslaan in..."] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList >  .Interface[label="savecontext"] > .Label {
  display:none;
}
.Interface[label="Atlasbewerkingen effectueren"] .Interface[label="Atlasbewerkingen opslaan in..."] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList >  .Interface[label="savecontext"] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display:none;
}
.Interface[label="Atlasbewerkingen effectueren"] .Interface[label="Atlasbewerkingen opslaan in..."] .Interface[label="savepopulatie"] > .Label {
  display:none;
}
.Interface[label="Atlasbewerkingen effectueren"] .Interface[label="Atlasbewerkingen opslaan in..."] .Interface[label="savepopulatie"] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display:none;
}



[editing=true] .Interface[label="Atlasbewerkingen effectueren"] .Interface[label="Atlasbewerkingen opslaan in..."] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList >  .Interface[label="savepopulatie"] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList >  .Interface[label="populatiebestand (alleen INCLUDE)"] {
  display:none;
}
[editing=false] .Interface[label="Atlasbewerkingen effectueren"] .Interface[label="Atlasbewerkingen opslaan in..."] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList >  .Interface[label="savepopulatie"] > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList >  .Interface[label="wijzig populatiebestandsnaam"] {
  display:none;
}


.Interface[label="Concept"] .Interface[label="toepassing in relaties"] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display:none;
}




