$if(verbose)$<!-- Box-DROPDOWN.html "$label$" : $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$ ($if(crudC)$C$else$c$endif$$if(crudR)$R$else$r$endif$$if(crudU)$U$else$u$endif$$if(crudD)$D$else$d$endif$) -->$endif$
$if(crudR)$<div ng-controller="AtomicController">
    <div ng-repeat="resource in $if(exprIsUni)$(resource['$name$'] === null ? [] : [resource['$name$']])$else$resource['$name$']$endif$">
		<select ng-options="value for value in resource['selectfrom']" ng-model="resource['setrelation']" ng-change="saveItem(resource, 'setrelation', patchResource)" ng-disabled="resource.disabled"></select>
    </div>
</div>$else$<span>
    <i>N/A</i>
</span>$endif$