$if(verbose)$<!-- Box-RDIV.html "$label$" : $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$  ($if(crudC)$C$else$c$endif$$if(crudR)$R$else$r$endif$$if(crudU)$U$else$u$endif$$if(crudD)$D$else$d$endif$, $if(!isRoot)$non-$endif$root box) -->
$endif$$if(crudR)$<div class="box box-rows">
    <ul class="list-group">
        <li class="list-group-item" style="border-style:none" $if(exprIsUni)$ng-repeat="resource in (resource['$name$'] === null ? [] : [resource['$name$']])"$else$ng-repeat="resource in resource['$name$']"$endif$>$subObjects:{subObj|$if(verbose)$
            <!-- $subObj.subObjLabel$ -->$endif$
            <div class="row">
                <div class="row-content">
                    $subObj.subObjContents$
                </div>
            </div>}$
        </li>
    </ul>
</div>$else$<span><i>not readable</i></span>$endif$