$if(verbose)$<!-- Box-CDIV.html "$label$" : $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$  ($if(crudC)$C$else$c$endif$$if(crudR)$R$else$r$endif$$if(crudU)$U$else$u$endif$$if(crudD)$D$else$d$endif$, $if(!isRoot)$non-$endif$root box) -->
$endif$$if(crudR)$<div>
    <table class="table table-striped table-hover table-condensed">
        <tbody>
            <tr ng-repeat="resource in requireArray(resource['$name$'])">$subObjects:{subObj|$if(verbose)$
                <!-- $subObj.subObjLabel$ -->$endif$
                <td style="border-top-style:none">
                    $subObj.subObjContents$
                </td>}$
            </tr>
        </tbody>
    </table>
</div>$else$<span><i>not readable</i></span>$endif$