@import url("Oblomilan.css");

/* show name for composite atoms in BestellingNr subinterfaces for Create New BestellingNr */
[isNew=true][editing=true] .Interface[label=BestellingNr] .Interface[label=Klant] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display: block;
  float: none;
}
[isNew=true][editing=true] .Interface[label=BestellingNr] .Interface[label=Leverancier] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display: block;
  float: none;
}
[isNew=true][editing=true] .Interface[label=BestellingNr] .Interface[label=Product] > .AtomList > .AtomRow[rowType=Normal] > .AtomListElt > .Atom > .AtomName {
  display: block;
  float: none;
}